<!DOCTYPE html>
<html>
<head>
	<title>
		Framit | An easy way to celebrate your events.
	</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/app.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-override.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-utility.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/app-mobile.css">
</head>
<body class="landing-body">
	<div class="landing-container">
		<div class="content-container">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 class="landing-title">FRAMIT</h1>
						<p class="landing-tagline">An easy way to celebrate your events.</p>
					</div>
					<div class="col-md-4 landing-form-container">
						<form action="newsfeed.html">
							<div class="form-group">
								<label class="form-label">Sign in to Framit</label>
								<input class="form-control" placeholder="Username">
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-7 no-padding-right">
										<input class="form-control" placeholder="Password">
									</div>
									<div class="col-xs-5 no-padding-left">
										<button class="btn btn-primary btn-block">
											Sign In
										</button>
									</div>


								</div>

							</div>
						</form>
						<div class="row row-margin">
						 	<div class="col-xs-5 landing-line"></div>
						 	<div class="col-xs-2 text-center">OR</div>
						 	<div class="col-xs-5 landing-line"></div>
						 </div>
						 <form action="newsfeed.html">
							<div class="form-group">
								<label class="form-label">Register Now</label>
								<input class="form-control" placeholder="Username">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Register</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="image image-1"></div>
		<div class="image image-2"></div>
		<div class="image image-3"></div>
		<div class="image image-4"></div>
		<div class="image image-5"></div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="../assets/js/landing-transition.js"></script>
</body>

</html>