<!DOCTYPE html>
<html>
<head>
	<title>
		Framit | An easy way to celebrate your events.
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="http://cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/app.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/app-mobile.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/framit.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/framit-mobile.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-utility.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-override.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstarp-material.css">
</head>
<body>
	<div class="framit-navbar">
		<div class="container">
			<div class="row framit-navbar-row">
				<div class="col-sm-4 col-xs-3"><a href="#" class="framit-brand">FRAMIT</a></div>
				<div class="col-sm-4 hidden-xs">
					<div class="framit-input-group">
						<input type="text" class="form-control framit-searchbar" placeholder="Search">
						<i class="mdi mdi-magnify"></i>
					</div>
				</div>
				<div class="col-sm-4 col-xs-9">
					<a class="framit-navbar-link" href="#"><i class="mdi mdi-account"></i></a>
					<a class="framit-navbar-link" href="#"><i class="mdi mdi-upload"></i></a>
					<a class="framit-navbar-link visible-xs" href="#"><i class="mdi mdi-magnify"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="framit-container">
		<div class="container">
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consectetur, ipsum ullam hic illum nesciunt voluptas, ipsam a, neque soluta iste! Possimus obcaecati corporis vel sunt molestias error, beatae qui!</h1>
		</div>
	</div>
	<div class="framit-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center"><span class="framit-credit">Copyright © 2016 <br class="visible-xs"> Framit | All rights reserved.</span></div>
				<div class="col-sm-6 text-center"><span class="framit-credit">Design & Develop by lactoz & overpondz</span></div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="../assets/js/landing-transition.js"></script>

</body>

</html>