@media (max-width: 768px){
	.landing-title,
	.landing-tagline{
		text-align: center;
	}
	.landing-tagline{
		font-size: 18px;
		margin-bottom: 25px;
	}
	.landing-container{
		background-color: #999;
		overflow: scroll;
	}
	.landing-container > .image{
		background-size: cover !important;
		bottom: -100px;
	}
	.landing-form-container{
		margin: 0 15px;
	}
	.landing-container > .content-container{
		background: url("../images/landing/image-landing-5-master.jpg") no-repeat center center;
	}

	.landing-logo {
		margin: 0 auto;
		margin-bottom: 10px;
	}
}