@media (max-width: 768px) {
	.framit-navbar-link {
		margin-left: 15px;
	}
  .framit-brand{
    padding-top: 9px;
  }
  .framit-navbar{
    height: 60px;
  }

  .framit-navbar-row{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
  }
  .framit-container{
    padding-top: 40px;
  }
  .card-container{
    margin-bottom: 30px;
  }
}